<nav class="navbar navbar-expand-lg navbar-light customNav align-items-center">
    <div class="container-fluid">
        <div>
            <a [routerLink]="['']"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>
</nav>

<div class="container text-center">
    <h1>Your bag</h1>

    <div class="row foodItem" *ngFor="let item of (bag | notZero)">
        <div class="col-2">{{item.quantity}}</div>
        <div class="col-7">{{item.title}}</div>
        <div class="col-3">
            <div class="row">
                <button type="button" class="btn btn-outline-success" (click)="incrementBag(item)">
                  <i class="fa fa-plus"></i>
                </button>
                <button type="button" class="btn btn-outline-danger" (click)="removeFromBag(item)">
                  <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
    </div>

    <h2>Total: $ {{getTotalAmount() | number: '1.2-2'}}</h2>

    <button type="button" class="btn btn-success btn-lg btn-block" 
     data-toggle="modal" data-target="#reviewModal">
        Proceed to checkout
    </button>
    
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="reviewModal" tabindex="-1" 
   role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Review your order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row" *ngFor="let item of (bag | notZero)">
                <div class="col-2">{{item.quantity}}x</div>
                <div class="col-7">{{item.title}}</div>
                <div class="col-3">$ {{item.quantity * item.price | number: '1.2-2'}}</div>
            </div>
            <h4>Total amount: $ {{getTotalAmount() | number: '1.2-2'}}</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary text-left">Checkout</button>
        </div>
      </div>
    </div>
  </div>
