$primary-color: #B92B33;
$secondary-color: #2B2723;
$tertiary-color: #070307;

.customNav {
    background-color: $primary-color;
}

.foodItem {
    margin-bottom: 1rem;
}

h1 {
    padding: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

h4 {
    margin-top: 1rem;
}