li {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.customNav {
  background-color: #b92b33;
}
.menu-item {
  display: flex;
  flex-direction: row;
}
ul {
  list-style-type: none;
}
.item-img {
  height: 250px;
}
.icon-all {
  height: 20px;
  width: 20px;
  display: block;
  background: url("../../../assets/icons/bars-solid.svg");
}
.icon-chinese {
  height: 20px;
  width: 20px;
  display: block;
  background: url("../../../assets/icons/fish-solid.svg");
}
.icon-burgers {
  height: 20px;
  width: 20px;
  display: block;
  background: url("../../../assets/icons/hamburger-solid.svg");
}
.icon-salad {
  height: 20px;
  width: 20px;
  display: block;
  background: url("../../../assets/icons/carrot-solid.svg");
}
.icon-pizza {
  height: 20px;
  width: 20px;
  display: block;
  background: url("../../../assets/icons/pizza-slice-solid.svg");
}
.icon-cake {
  height: 20px;
  width: 20px;
  display: block;
  background: url("../../../assets/icons/birthday-cake-solid.svg");
}
