<nav class="navbar navbar-expand-lg navbar-light customNav align-items-center">
  <div class="container-fluid">
    <div class="text-center">
        <form class="form text-center">
            <input type="search" placeholder="search for foods..." [(ngModel)]="search" name="searchInput" class="form-control">
        </form>
    </div>
    <div>
        <a [routerLink]="['/bag']"><i class="fa fa-shopping-cart"></i></a>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light customNav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="" (click)="setCuisine('')">
            <ul class="mr-auto text-center">
                <li><i class="icon-all"></i></li>
                <li><i>all</i></li>
            </ul>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="" (click)="setCuisine('chinese')">
            <ul class="mr-auto text-center">
                <li><i class="icon-chinese"></i></li>
                <li><i>chinese</i></li>
            </ul>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="" (click)="setCuisine('burgers')">
            <ul class="mr-auto text-center">
                <li><i class="icon-burgers"></i></li>
                <li><i>burgers</i></li>
            </ul>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="" (click)="setCuisine('salad')">
            <ul class="mr-auto text-center">
                <li><i class="icon-salad"></i></li>
                <li><i>salad</i></li>
            </ul>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="" (click)="setCuisine('cake')">
            <ul class="mr-auto text-center">
                <li><i class="icon-cake"></i></li>
                <li><i>cake</i></li>
            </ul>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-center" [routerLink]="" (click)="setCuisine('pizza')">
            <ul class="mr-auto">
                <li><i class="icon-pizza"></i></li>
                <li><i>pizza</i></li>
            </ul>
        </a>
      </li>
    </ul>
    
  </div>
</nav>
      
<div>

  <div class="card" *ngFor="let food of (filteredFoods | filter:search | cuisine:selectedCuisine)"> 
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTKnC0Wig7GqMV3Qkp4MLZdhpWbsWEFpFJEoLcjga6S2ezE8a8">
    <div class="card-body">
      <h5 class="card-title">{{food.title}}</h5>
      <h6 class="card-text">{{food.cuisine}}</h6>
      <h4 class="card-text">${{food.price}}</h4>
      <button (click)="incrementBag(food)" type="button" class="btn btn-outline-success">
        add to bag
        <i class="fa fa-cart-plus"></i>
      </button>
    </div>
  </div>

</div>

