$primary-color: #B92B33;
$secondary-color: #2B2723;
$tertiary-color: #070307;

@mixin customIcon {
    height: 20px;
    width: 20px;
    display: block;
}

li {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.customNav {
    background-color: $primary-color;
}

.menu-item {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
}

.item-img {
    height: 250px;
}

.icon-all {
    @include customIcon;
    background: url('../../../assets/icons/bars-solid.svg');
}

.icon-chinese {
    @include customIcon;
    background: url('../../../assets/icons/fish-solid.svg');
}

.icon-burgers {
    @include customIcon;
    background: url('../../../assets/icons/hamburger-solid.svg');
}

.icon-salad {
    @include customIcon;
    background: url('../../../assets/icons/carrot-solid.svg');
}

.icon-pizza {
    @include customIcon;
    background: url('../../../assets/icons/pizza-slice-solid.svg');
}

.icon-cake {
    @include customIcon;
    background: url('../../../assets/icons/birthday-cake-solid.svg');
}